# Existing entries
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Kubernetes secrets and configs
k8s/configmap.yaml
k8s/*.secret.yaml
k8s/.env